<!DOCTYPE html>
<html>
<head>
  <title>SameSameButDifferent</title>
  <%= favicon_link_tag 'favicon.ico' %> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<!doctype html>

<html>
<head>
  <meta charset='utf-8'>
  <title>SameSameButDifferent</title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
    <div class='login'>
      <% if current_user %>
        hi <%= current_user.name %>!
      <%= link_to 'log out', destroy_user_session_path, method: :delete %>
       
      <% end %>
    </div>
    <div id="titles">
      <h1>Welcome to <span>same same but different</span></h1><br>
      
    </div>





    <!--   <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p> -->

    
  <%= yield %>

</body>
</html>
